{% extends 'store/base_sub_page.html' %}

{% load static %}
{% block subcontent %}

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
    <div class="container">
        {% include "store/navbar.html" %} 
    </div>
    </header>
    <!-- end header section -->

    <div class="container" id="checkout-container">

        <div class="card">
            <div class="row">
                {% if cartItems > 0 %}
                <div class="col-md-8 cart">
                {% else %}
                <div class="col-md cart">
                {% endif %}
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{order.get_cart_items}} items</div>
                        </div>
                    </div>
                    {% if cartItems > 0 %}
                        {% for item in items %}
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img id="checkout_img" class="img-fluid" src=../{{item.product.imageURL}}></div>
                                <div class="col">
                                    <div class="row">{{item.product.name}}</div>
                                </div>
                                <div class="col">
                                    <a data-product={{item.product.id}} data-action="remove" class="update-cart">-</a>
                                    <a class="border quantity">{{item.quantity}}</a>
                                    <a data-product={{item.product.id}} data-action="add" class="update-cart">+</a>
                                </div>
                                <div class="col">₹{{item.get_total|floatformat:2}}
                                    <a data-product={{item.product.id}} data-action="allremove" class="close update-cart">&#10005;</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            Your Famms Cart is empty.
                        </div>
                    </div>
                    {% endif %}
                    <div class="back-to-shop"><a href="{% url 'product' %}">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                {% if cartItems > 0 %}
                    <div class="col-md-4 summary">
                        <div><h5><b>Summary</b></h5></div>
                        <!-- <div class="row">
                            <div class="col" style="padding-left:0;">ITEMS {{order.get_cart_items}}</div>
                            <div class="col text-right">₹{{order.get_cart_total}}</div>
                        </div> -->
                        <!-- <form id="checkout-form">
                            <p>SHIPPING</p>
                            <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                            <p>GIVE CODE</p>
                            <input id="code" placeholder="Enter your code">
                        </form> -->
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL ITEMS</div>
                            <div class="col text-right"><strong>{{order.get_cart_items}}</strong></div>
                        </div>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right"><strong>₹{{order.get_cart_total|floatformat:2}}</strong></div>
                        </div>
                        <a href="{% url 'checkout' %}" class="btn">CHECKOUT</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock subcontent %}