{% extends 'store/base_sub_page.html' %}

{% load static %}
{% block subcontent %}
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               {% include "store/navbar.html" %} 
            </div>
         </header>
         <!-- end header section -->
      </div>
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product Grid</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products</span>
               </h2>
            </div>
            <div class="row">
               {% for product in products %}
               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="#" class="option1 update-cart" data-product={{product.id}} data-action="add">
                              Add to Cart
                           </a>
                           <a href="{% url 'cart' %}" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="{% get_media_prefix  %}files/{{product.imageURL}}"  alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{product.name}}
                        </h5>
                        <h6>
                           ₹{{product.price|floatformat:2}}
                        </h6>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            {% if load_more == True %}
            <div class="btn-box">
               <a href="">
               View All products
               </a>
            </div>
            {% endif %}
         </div>
      </section>
      <!-- end product section -->
{% endblock subcontent %}
